
.about-banner-blog {
				background: url(../img/banner-bg-blog.jpg) center
}

.about-banner-gallery {
				background: url(../img/banner-bg-gallery.jpg) center
}

.about-banner-register {
				background: url(../img/banner-bg-register.jpg) center
}
.about-banner-team {
				background: url(../img/banner-bg-team.jpg) center

}
.about-banner-community {
				background: url(../img/banner-bg-community.jpg) center

}
.about-banner-ecell {
				background: url(../img/banner-bg-ecell.jpg) center

}
.about-banner-ircell {
				background: url(../img/banner-bg-ircell.jpg) center

}
